//
//  GLCompatible.xcconfig
//  mp4
//
//  Created by Paul Lambert on 5/9/12.
//  Copyright (c) 2012 University of Illinois. All rights reserved.
//

SDKROOT = 
ALWAYS_SEARCH_USER_PATHS = YES
FRAMEWORK_SEARCH_PATHS = /usr/lib
HEADER_SEARCH_PATHS = /usr/include/
HEADER_SEARCH_PATHS = /usr/include/
HEADER_SEARCH_PATHS[arch=*] = /usr/include/GL/
HEADER_SEARCH_PATHS = /usr/include/
HEADER_SEARCH_PATHS[arch=*] = /usr/include/GL/
HEADER_SEARCH_PATHS = /usr/include/
HEADER_SEARCH_PATHS[arch=*] = /usr/include/GL/
LIBRARY_SEARCH_PATHS = /usr/lib/
LIBRARY_SEARCH_PATHS = /usr/lib/
LIBRARY_SEARCH_PATHS[arch=*] = 
LIBRARY_SEARCH_PATHS = /usr/lib/
LIBRARY_SEARCH_PATHS[arch=*] = 
LIBRARY_SEARCH_PATHS = /usr/lib/
LIBRARY_SEARCH_PATHS[arch=*] = 
USER_HEADER_SEARCH_PATHS = /usr/include/
